.signuppage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/WF-0185.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.signuppage:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: black;
}

.ant-form-item {
  width: 500px;
}

.ant-picker {
  width: 500px;
  background-color: #ffffffbc;
  font-size: 22px;
}

.ant-input {
  font-size: 22px;
  background-color: #ffffffbc;
}

/* :where(.css-dev-only-do-not-override-1fviqcj).ant-input-affix-wrapper {
  background-color: #ffffffbc;
} */

:where(.css-dev-only-do-not-override-1fviqcj).ant-input-affix-wrapper > input.ant-input {
  font-size: 22px;
}

/* для даты рождения */
:where(.css-dev-only-do-not-override-1fviqcj).ant-picker
  .ant-picker-input
  > input:placeholder-shown,
:where(.css-dev-only-do-not-override-1fviqcj).ant-picker .ant-picker-input > input {
  font-size: 22px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.ant-btn {
  width: 220px;
  height: 60px;
  margin: 10px;
  font-size: 18px;
  color: aliceblue;
  background-color: #283b27;
  border: none;
}

.ant-btn:hover {
  background-color: #1b261b;
  color: yellow;
}
