.Newrecord {
  .newrecordForm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/images/WF-0294.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .newrecordForm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .ant-form-item {
    min-Width: 500px;
  }
  
  .newrecordForm label,
  .newrecordForm input {
    font-size: 25px;
    font-family: 'Fira Sans Condensed', sans-serif;
  }

  .newrecordForm label {
    color: rgb(250, 250, 250);
  }

  .ant-btn {
    width: 220px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    color: aliceblue;
    background-color: #283b27;
    border: none;
    word-wrap: break-word;
    text-align: center;
  }
  .ant-btn:hover {
    background-color: #1b261b;
    color: #a28706;
  }
  :where(.css-dev-only-do-not-override-1fviqcj).ant-btn > span {
    font-family: 'Fira Sans Condensed', sans-serif;
  }
}
